/* Estilo para el formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Estilo para los campos del formulario */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Grupo de botones */
.button-group {
  display: flex;
  gap: 10px;
}

/* Estilo para los botones */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para el botón de cancelar */
.cancel-button {
  background-color: #9d6a34;
}

/* Estilo para el botón de cancelar */
button.actualizar {
    background-color: #9d6a34;
  }


.cancel-button:hover {
  background-color: #333c3c;
}

/* Contenedor de tarjetas */
.tarjetas-contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  align-items: center; /* Centra las tarjetas verticalmente si es necesario */
}

/* Estilo para las tarjetas */
.tarjeta {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.tarjeta p {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
}

.text-id {
  font-weight: bold;
}

.tarjeta button {
  padding: 5px 10px;
  background-color: #eca555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.tarjeta button:hover {
  background-color: #333c3c;
}

/* Mensaje si no hay relaciones */
.no-relaciones {
  color: #777;
  font-size: 16px;
}
